@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }

  .address {
    display: flex;
    align-items: center;
  }
  .contacts-email {
    margin-right: 40px;
  }

  .hero {
    padding: 188px 0;
    max-width: 1440px;
  }

  .hero-title {
    margin-bottom: 48px;
  }

  .section-customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .customers-list {
    gap: 24px;
  }

  .section-features {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .features-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .el-title,
  .team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-main-text);
    margin-bottom: 8px;
  }

  .el-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-secondary-text);
  }

  .icon-strategy:hover {
    cursor: pointer;
    fill: var(--accent);
    transition: var(--transition);
  }

  .icon-features {
    height: 112px;
    background: var(--color-main-cloud);
    border-radius: 4px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-main-text);
    margin-bottom: 72px;
  }

  .cart-features {
    flex-basis: calc((100% - 72px) / 4);
  }

  .title-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-main-text);
    margin-bottom: 72px;
  }
  .section-about {
    padding-bottom: 120px;
  }
  .cart-about {
    flex-basis: calc((100% - 48px) / 3);
  }

  .team-card-content-wrapper {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .description-align {
    text-align: center;
  }
  .section-team {
    padding-top: 120px;
    padding-bottom: 120px;
    background: var(--color-main-cloud);
  }
  .section-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    border-radius: 0px 0px 4px 4px;
  }

  .about-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .card-bg {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    background: var(--primary-color);
    flex-basis: calc((100% - 72px) / 4);
  }

  .social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
  }

  .social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--accent);

    transition: background-color var(--transition);
  }

  .social-list-link:hover,
  .social-list-link:focus {
    background-color: var(--accent-pressed-state);
  }

  .social-list-icon {
    fill: var(--color-main-cloud);
  }
  .address-footer {
    padding: 96px 0;
    background: var(--color-main-text);
    color: var(--color-main-cloud);
  }

  /* =======================footer================ */

  .footer-logo-text {
    margin-right: 120px;
  }
  .footer-subscribe {
    margin-left: 80px;
  }

  /* ======================PORTFOLIO--------------- */
  .section {
    padding-top: 100px;
    padding-bottom: 120px;
  }
  .cart-gallery {
    flex-basis: calc((100% - 48px) / 3);
  }
  .gallery {
    column-gap: 24px;
    row-gap: 48px;
  }
}
