:root {
  --primary-color: #ffffff;
  --color-main-text: #2e2f42;
  --color-main-cloud: #f4f4fd;
  --color-secondary-text: #434455;
  --color-border: #e7e9fc;
  --color-light-clate: #8e8f99;
  --accent: #4d5ae5;
  --accent-pressed-state: #404bbf;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: var(--primary-color);
  font-family: 'Roboto', sans-serif;
  color: var(--color-secondary-text);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  overflow: hidden;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

/* ............................Logotype................... */
.logotype {
  margin-right: 76px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent);
}

.logo {
  margin-right: 76px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent);
  display: inline-block;
  margin-bottom: 16px;
}

.logo-header-blue {
  color: var(--color-main-text);
}
.logo-footer-cloud {
  color: var(--color-main-cloud);
}
/* .......................Header.................... */
.page-header {
  padding: 24px 0;
  border-bottom: 1px solid var(--color-border);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.address {
  display: flex;
  align-items: center;
}

.nav-address {
  font-style: normal;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.menu-link {
  position: relative;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-main-text);

  transition: color var(--transition);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-pressed-state);
}

.current-page::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;
  background: var(--accent-pressed-state);
  border-radius: 2px;
  opacity: 0;
  transition: opacity var(--transition);
}

.current-page:hover::after {
  opacity: 1;
}

.current-page {
  color: var(--accent-pressed-state);
}

/* .......................Contact..................... */
.contacts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-secondary-text);

  transition: color var(--transition);
}

.contacts:hover,
.contacts:focus {
  color: var(--accent-pressed-state);
}

.contacts-email {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-secondary-text);
  margin-right: 40px;
}

.contacts-tel {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-secondary-text);
  margin-right: 0;
}

/* ........................Hero................. */
.hero {
  padding: 188px 0;
  max-width: 1440px;
  margin: 0 auto;
  color: var(--primary-color);
  background-color: var(--color-main-text);
  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
/* .......................Battons............................ */
.modal-btn {
  font-family: inherit;
  padding: 16px 32px;
  background: var(--accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  border: none;
  line-height: 1.5;
  color: var(--primary-color);
  cursor: pointer;
  display: block;
  margin: 0 auto;
  min-width: 169px;

  transition: background-color var(--transition);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-pressed-state);
  color: var(--primary-color);
}

.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  padding: 12px 24px;
  letter-spacing: 0.04em;
  background-color: var(--color-main-cloud);
  color: var(--accent);
  cursor: pointer;

  transition: color var(--transition), background-color var(--transition),
    box-shadow var(--transition), border-color var(--transition);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-pressed-state);
  color: var(--primary-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  border: 1px solid transparent;
}

.btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

/* ........................Features.................. */
.section-features {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-menu {
  display: flex;
  gap: 24px;
}

.el-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-main-text);
  margin-bottom: 8px;
}
.el-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-secondary-text);
}

.icon-strategy:hover {
  cursor: pointer;
  fill: var(--accent);
  transition: var(--transition);
}

.icon-features {
  height: 112px;
  background: var(--color-main-cloud);
  border-radius: 4px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .............................About Team....................... */
.title-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-main-text);
  margin-bottom: 72px;
}
.section-about {
  padding-bottom: 120px;
}
.cart-about {
  flex-basis: calc((100% - 48px) / 3);
}

.cart-features {
  flex-basis: calc((100% - 72px) / 4);
}
.team-card-content-wrapper {
  padding-top: 32px;
  padding-bottom: 32px;
}

.description-align {
  text-align: center;
}
.section-team {
  padding-top: 120px;
  padding-bottom: 120px;
  background: var(--color-main-cloud);
}
.section-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  border-radius: 0px 0px 4px 4px;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.card-bg {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background: var(--primary-color);
  flex-basis: calc((100% - 72px) / 4);
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--accent);

  /* ============================!!!!!!!!!===================== */

  transition: background-color var(--transition);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-pressed-state);
}

.social-list-icon {
  fill: var(--color-main-cloud);
}

/* ................................Customers.......................... */
.title-customars {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-main-text);
  margin-bottom: 72px;
  line-height: 1.1;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.customers-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-light-clate);
  width: 168px;
  height: 88px;
  border: 1px solid var(--color-light-clate);
  border-radius: 4px;

  transition: border-color var(--transition), color var(--transition);
}
.customers-list-link:hover,
.customers-list-link:focus {
  border-color: var(--accent-pressed-state);
  color: var(--accent-pressed-state);
}

.customers-list-icon {
  fill: currentColor;
}

.section-customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* ................................footer............................. */
.address-footer {
  padding: 100px 0;
  background: var(--color-main-text);
  color: var(--color-main-cloud);
}

.footer-text {
  width: 264px;
  margin-right: auto;
}

.footer-text-social-media {
  width: 208px;
  font-weight: 500;
  margin-bottom: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}

.footer-div {
  display: flex;
  align-items: baseline;
}

.footer-logo-text {
  margin-right: 120px;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--accent);

  transition: background-color var(--transition);
}
.social-media-link:hover,
.social-media-link:focus {
  background-color: #31d0aa;
}

/* .........................Portfolio................... */
.section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.btn-list-item:not(:last-child) {
  margin-right: 24px;
}

.cart-gallery {
  flex-basis: calc((100% - 48px) / 3);
}

.link-gallery {
  display: block;
  transition: box-shadow var(--transition);
}

.link-gallery:hover .overlay,
.link-gallery:focus .overlay {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translate(0, 0);
}

.gallery-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-main-text);
  margin-bottom: 8px;
}
.gallery-card-content-wrapper {
  padding: 32px 16px;
  border: 1px solid var(--color-border);
  border-top: none;
}

.gallery-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-secondary-text);
}

.gallery-img {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--transition);
  color: var(--color-main-cloud);
  background-color: var(--accent);
  padding: 40px 32px;
  mix-blend-mode: normal;
}

/* ...............................Modal Window..................... */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition), visibility var(--transition);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 576px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;

  transition: transform var(--transition);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: transparent;
  background: var(--color-border);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color var(--transition), border var(--transition);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--accent-pressed-state);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border: none;
  fill: var(--primary-color);
}

.modal-close-btn-icon {
  transition: fill var(--transition);
}

/* ...........................Footer Subscribe.................... */

.footer-subscribe {
  margin-left: 80px;
}

.subscribe-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-color);
  margin: 0 0 16px 0;
}

.subscribe-form {
  display: flex;
  margin-top: 16px;
  gap: 24px;
}

.subscribe-form-input {
  min-width: 264px;
  height: 40px;
  padding-left: 16px;
  color: var(--primary-color);
  background-color: var(--color-main-text);

  border: 1px solid var(--primary-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscribe-form-submit {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 16px;
  padding: 8px 24px;
  border: transparent;
  border-radius: 4px;
  cursor: pointer;

  color: var(--primary-color);
  background: var(--accent);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  transition: background-color var(--transition);
}

.subscribe-form-submit:hover,
.subscribe-form-submit:focus {
  background-color: var(--accent-pressed-state);
}

/* .....................................modal form...................... */

.modal-form {
  display: flex;
  flex-direction: column;
}

.text-form {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-main-text);
  margin-bottom: 16px;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  left: 0px;
  top: 84px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  color: var(--color-main-text);
  font-size: 18px;
  transition: border-color var(--transition);
}

.modal-form-input:focus {
  border-color: var(--accent);
  outline: none;
}

.modal-form-input-desc {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-light-clate);
  margin-bottom: 4px;
}
.modal-form-field {
  margin-bottom: 8px;
}

.modal-form-textarea {
  margin-bottom: 16px;
}

.modal-form-message {
  width: 100%;
  height: 120px;
  left: 0px;
  top: 216px;
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  color: var(--color-main-text);
  font-size: 18px;
  padding: 8px 16px;

  transition: border-color var(--transition);
}

.modal-form-message:focus {
  border-color: var(--accent);
  outline: none;
}

.modal-form-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-input-wraper {
  position: relative;
  display: block;
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 24px;
  transition: fill var(--transition);
}
.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--accent);
}

.modal-form-check-desc {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 24px;

  color: var(--color-light-clate);
}

.modal-form-check-desc::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
}

.modal-form-check:checked + .modal-form-check-desc::before {
  background-color: var(--accent-pressed-state);
  background-image: url(../images/click.png);
  background-repeat: no-repeat;
  background-position: center;
}
/* .modal-form-check:focus + .modal-form-check-desc::before {
  background-color: var(--accent-pressed-state);
  background-image: url(../images/click.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid var(--accent-pressed-state);
  border-radius: 2px;
} */

.modal-form-submit {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  min-width: 169px;
  border: none;
  align-self: center;
  cursor: pointer;
  color: #ffffff;
  background: var(--accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color var(--transition);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: var(--accent-pressed-state);
}
