@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container {
    max-width: 768px;
  }

  .contacts {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  .hero {
    padding: 112px 0;
    max-width: 768px;
  }

  .hero-title {
    margin-bottom: 26px;
  }

  .section-features {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .features-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .cart-features {
    width: calc((100% - 24px) / 2);
  }

  .el-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;

    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: var(--color-main-text);
    margin-bottom: 8px;
  }

  .section-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 64px 24px;
    border-radius: 0px 0px 4px 4px;
  }

  .logo {
    margin-right: 76px;
  }

  /* ==============================FOOTER==================== */

  .footer-div {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 72px 24px;
    padding-left: 106px;
    padding-right: 106px;
  }

  .subscribe-title {
    display: flex;
    flex-wrap: wrap;
  }

  /* ======================PORTFOLIO--------------- */
  .section {
    padding-top: 64px;
    padding-bottom: 96px;
  }
  .btn-list {
    margin-bottom: 64px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .gallery {
    gap: 72px 24px;
    min-width: 768px;
  }
}

/* ====================================FROM 768s======================== */

@media screen and (min-width: 768px) {
  .contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-secondary-text);

    transition: color var(--transition);

    margin-right: 0;
  }

  .contacts:hover,
  .contacts:focus {
    color: var(--accent-pressed-state);
  }

  .footer-text {
    width: 264px;
    margin-right: auto;
  }

  .mobile-menu {
    display: none;
  }

  .mobile-menu-open {
    display: none;
  }
  .subscribe-form {
    display: flex;
    gap: 24px;
  }

  .btn-list-item:not(:last-child) {
    margin-right: 24px;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
  }
}
