:root {
  --primary-color: #ffffff;
  --color-main-text: #2e2f42;
  --color-main-cloud: #f4f4fd;
  --color-secondary-text: #434455;
  --color-border: #e7e9fc;
  --color-light-clate: #8e8f99;
  --accent: #4d5ae5;
  --accent-pressed-state: #404bbf;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: var(--primary-color);
  font-family: 'Roboto', sans-serif;
  color: var(--color-secondary-text);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* .container {
  padding-left: 15px;
  padding-right: 15px;
} */

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container {
    max-width: 768px;
  }
  .hero {
    padding: 112px 0;
    max-width: 768px;
  }

  .hero-title {
    margin-bottom: 26px;
  }

  .section-features {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .features-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .cart-features {
    width: calc((100% - 24px) / 2);
  }

  .el-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;

    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: var(--color-main-text);
    margin-bottom: 8px;
  }
  /* .............................About Team....................... */
  /* @media screen and (min-width: 1157px) {
} */

  .section-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 64px 24px;
    border-radius: 0px 0px 4px 4px;
  }

  .logo {
    margin-right: 76px;
  }

  /* ==============================FOOTER==================== */

  .footer-div {
    width: 552px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .footer-logo-text {
    margin-right: 24px;
  }

  .subscribe-title {
    display: flex;
    flex-wrap: wrap;
  }

  /* ======================PORTFOLIO--------------- */
  .section {
    padding-top: 64px;
    padding-bottom: 96px;
  }
  .btn-list {
    margin-bottom: 64px;
  }
}

/* .el-description {
    max-width: 396px;
  }

  */

/* -------------------------features--------------------------- */

/* ======================END=================== */

/* ====================================FROM 768s======================== */

@media screen and (min-width: 768px) {
  .footer-div {
    display: flex;
    align-items: baseline;
  }
  .footer-text {
    width: 264px;
    margin-right: auto;
  }
}

/* ====================================END FROM 768======================== */
